@font-face {
  font-family: "iconfont"; /* Project id 4131676 */
  src: url('//at.alicdn.com/t/c/font_4131676_x6q9n2z0rnn.woff2?t=1687247800323') format('woff2'),
       url('//at.alicdn.com/t/c/font_4131676_x6q9n2z0rnn.woff?t=1687247800323') format('woff'),
       url('//at.alicdn.com/t/c/font_4131676_x6q9n2z0rnn.ttf?t=1687247800323') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  margin: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-university:before {
  content: "\e689";
}

.icon-auth:before {
  content: "\e690";
}

.icon-sex-girl:before {
  content: "\e605";
}

.icon-sex-boy:before {
  content: "\e606";
}

.icon-message:before {
  content: "\e612";
}

.icon-grade:before {
  content: "\e63a";
}
