/**app.wxss**/
@import "./assets/icon/index.scss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

button {
  background-color: #242424;
  color: #fff;
}